
*.json

*.pyc

Best_models/

data/

log/

models/

models_in_use/

credentials.yaml

*.csv

*.yaml

.DS_Store

email_updates_error.py

email_updates_evening.py

email_updates_model_report.py

email_updates_morning.py
